python-telegram-bot==11.1.0
ZEO==5.2.0
ZODB==5.5.1
transaction==2.4.0
BTrees==4.5.1
arrow==0.12.1
click==7.0
bottle==0.12.13
zodbpickle==1.0.2
python-decouple==3.1
honcho==1.0.1
RelStorage==2.1.0
zodburi==2.3.0
psycopg2==2.7.6.1
requests==2.20.1
