python-telegram-bot==2.8.7
ZODB==5.0.0
transaction==1.6.1
BTrees==4.3.1
arrow==0.6.0
click==4.1
bottle==0.12.8
zodbpickle
python-decouple==2.3
honcho==0.6.6
RelStorage==2.0.0b8
zodburi==2.0
psycopg2==2.6.2
requests==2.11.1
