python-telegram-bot==2.8.7
ZEO==4.2.0
ZODB==4.2.0
transaction==1.4.4
BTrees==4.1.4
arrow==0.6.0
click==4.1
bottle==0.12.13
zodbpickle==0.6.0
python-decouple==2.3
honcho==0.6.6
RelStorage==1.6.0b3
zodburi==2.0
psycopg2==2.6.2
requests==2.20.1
